<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="og:url" content="<%= fullurl %>">
    <meta name="og:title" content="<%= title %>">
    <meta name="og:image" content="<%= ogpimageurl %>">
    <meta name="og:site_name" content="volavote">
    <meta name="og:type" content="article">
    <meta name="twitter:card" content="summary" />
    <title><%= title %></title>
    <!-- <script src="https://unpkg.com/vue@next"></script> -->
    <script src="https://unpkg.com/vue@3.1.1/dist/vue.global.prod.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/poll.css' />
    <link rel='stylesheet' href='/stylesheets/polls/survey.css' />
  </head>
  <body>
    <%- include('../partial/poll_header'); %>

    <div id="poll" class="poll_body">
      <div class="poll_title">{{title}}</div>
      <div v-if="image">
        <img class="poll_image" v-bind:src="image">
      </div>
      <div class="survey_area" :style="`width:${display_width}px;`">
        <div ref="bar" v-for="index of number" :key=index class="survey_bar_area" :class="{emphasized: (emphasizedIndex===index-1)}">
          <div class="survey_bar"><div class="survery_bar_back" :style="`height:${100-barRacio[index-1]}%;`"></div>{{result[index-1]}}</div>
        </div>
      </div>
      <div class="survey_area" :style="`width:${display_width}px;`">
        <div v-for="index of number" :key=index class="survey_button_area">
          <button class="survey_button"  :class="{survey_button_on: voted[index-1]===1}" @click="vote(index-1)">
            {{displays[index-1]? displays[index-1]:""}}
          </button>
        </div>
      </div>
      <div v-if="errorMessage" class="error_message">{{errorMessage}}</div>
    </div>
  </body>
  <script>
    const socket = io();
    const mediaQuery = window.matchMedia('(max-width: 700px)')
    const Poll = {
      data(){
        return{
          title:'<%= title %>',
          vvid:'<%= vvid %>',
          image:'<%= image %>',
          number: Number('<%= number %>'),
          displays:JSON.parse('<%- JSON.stringify(displays) %>'),
          parent:'<%= parent %>',
          errorMessage:"",
          emphasizedIndex:-1,
          result:[],
          display_width:1020,
          barRacio:[],
          voted:[],
          total_count:0,
          barWidth:0,
          lock:'<%= lock %>',
        }
      },
      mounted() {
        this.result = new Array(this.number).fill(0)
        this.voted = new Array(this.number).fill(0)
        this.bars = new Array(this.number).fill(0)
        this.barRacio = new Array(this.number).fill(0)

        this.resizePoll()

        socket.emit('pollCountUp',this.vvid)
        socket.on('pollCountUp',(countUp)=>{
          if(countUp.VVID===this.vvid){

            this.result = countUp.COUNTUP
            this.total_count = this.result.reduce(function(sum,element){
              return sum+element
            },0)
            this.resizePoll()
          }
        })
        socket.on('emphasizeVote',(emphasizeData)=>{
          if(emphasizeData.vvid===this.vvid){
            this.emphasizedIndex = emphasizeData.index
          }
        })
        socket.on('switchToUrl',(switchData)=>{
          if(switchData.from==="volavote" || switchData.from===this.parent){
            window.location.href=switchData.url
          }
        })
      },
      methods :{
        resizePoll(){
          this.barWidth = this.$refs.bar.clientWidth
          this.display_width = this.barWidth * this.number
          if (mediaQuery.matches) {
//            this.bar_max_length = 180
          }else{
//            this.bar_max_length = 390
          }
          let max_count = this.result.reduce((a,b)=>Math.max(a,b))
          if(max_count==0)max_count=1
          let adjust = 1.5
          adjust = ( - max_count / 100.0 ) + 1.5
          if(adjust < 1.1) adjust = 1.1
          this.barRacio = this.result.map(el=>100*el/(max_count*adjust))
        },
        vote(index){          
          if(this.lock==="true"){
            //this.voted = new Array(this.number).fill(0)
            this.errorMessage = "POLL CLOSED"
            return
          }
          this.errorMessage = ""

          this.voted = new Array(this.number).fill(0)
          this.voted[index] = 1

          const vote = {vvid:this.vvid, vote:this.voted}
          fetch("/poll/vote",{
            method:'POST',
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify(vote)
          })
          .then(response=>response.json())
          .then(data=>{
            if(data.result==="OK"){
              //Nothing to do
            }
            else if(data.result==="NG"){
              this.errorMessage = data.error
            }
          })
          .catch((error)=>{
            this.errorMessage = error
          });


        },
      }
    }
    Vue.createApp(Poll).mount('#poll')
  </script>
</html>
